@{
    ViewData["Title"] = "Dependency Graph";
}

<h2>
    <a asp-action="Index">
        Hangfire Framework
    </a>
</h2>

<img style="width: 100%" src="/images/dependency-graph.png" />

